<!DOCTYPE html>
<html lang="en">
<head th:replace="/fragments/head :: default-head(~{::title})">
    <title>미션 개설 완료</title>
</head>
<body>
<header th:replace="/fragments/header :: default-header"></header>
<div class="container">
    <div class="content">
        <div class="content-header"></div>
        <div class="content-body">
            <h1 class="mb-2 text-center">미션이 개설되었습니다🎉</h1>
            <p class="text-gray text-center mb-5">미션에 사람들을 초대하고 수행 내역을 관리해보세요!</p>
        </div>
    </div>
</div>
</body>
</html>