<!DOCTYPE html>
<html lang="en">
<head th:replace="/fragments/head :: default-head(~{::title})">
    <title>Mission Checker</title>
</head>
<body>
<header th:replace="/fragments/header :: default-header"></header>
<div class="container">
    <div class="content">
        <div class="content-header">
            <h1 th:text="${missionDetail.mission.name}">Mission Name</h1>
        </div>
        <div class="content-body">
            <div name="admin-area">
                <div>
                    <h3>미션 참여 신청자</h3>
                    <div name="applicants">
                        <ul>
                            <li th:each="applicantData : ${missionDetail.mission.applications}"
                                th:data-applicant-id="*{applicantData.member.id}"
                                th:data-mission-id="${missionDetail.mission.id}">
                                <span th:text="*{applicantData.member.name}"></span>
                                <button type="button" onclick="acceptApplicant(this)">수락</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div name="mission-dashboard">
                <div name="mission-introduce">미션 소개</div>
                <button type="button" onclick="applyMission(this)"
                        th:if="${missionDetail.memberRole == T(com.missionchecker.domain.MemberRole).GUEST}"
                        th:data-mission-id="${missionDetail.mission.id}" >참여신청</button>
                <button type="button" th:onclick="'location.href=\''+ @{/missions/{missionId}/checks/registration-form (missionId = ${missionDetail.mission.id})} + '\''"
                        th:if="${missionDetail.memberRole == T(com.missionchecker.domain.MemberRole).PARTICIPANT
                            || missionDetail.memberRole == T(com.missionchecker.domain.MemberRole).ADMINISTRATOR}"
                        th:data-mission-id="${missionDetail.mission.id}" >미션 수행 체크하기</button>
                <div>미션 수행 현황</div>
                    <div th:each="check : ${missionDetail.checks}">
                        <span>미션 수행 완료일:<span th:text="*{check.checkedAt}"></span></span>
                    </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/fragments/footer :: default-footer" )></div>
</body>
</html>