<!DOCTYPE html>
<html lang="en">
<head th:replace="/fragments/head :: default-head(~{::title})">
    <title>미션 개설</title>
</head>
<body>
<header th:replace="/fragments/header :: default-header"></header>
<div class="container">
    <div class="content container container--xs">
        <div class="content-header">
            <h1 class="mb-2 text-center">미션 개설</h1>
        </div>
        <div class="content-body my-5">
            <form method="post" action="/missions">
                <div class="row mb-2">
                    <div class="col">
                        <label for="mission-name">미션명</label>
                        <input type="text" class="input-text form-control" name="name" id="mission-name"
                               value="" required="">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">개설하기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>