<!DOCTYPE html>
<html lang="en">
<head th:replace="/fragments/head :: default-head(~{::title})">
    <title>로그인</title>
</head>
<body>
<header th:replace="/fragments/header :: default-header"></header>
<div class="container">
    <div name="content" class="content">
        <div class="container container--xs">
            <div name="content-header" class="mb-md-0 mb-lg-5">
                <h1 class="mb-2 text-center">로그인</h1>
                <p class="text-gray text-center">로그인 후 서비스를 이용해주세요</p>
            </div>
            <form method="post" action="/login">
                <div class="row mb-2">
                    <div class="col">
                        <label for="login-email"><b>이메일</b></label>
                        <input type="text" class="input-text form-control" name="email" id="login-email" value=""
                               required="">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <label for="login-password"><b>비밀번호</b></label>
                        <input type="password" class="input-text form-control" name="password" id="login-password" value=""
                               required="">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">로그인</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="/fragments/footer :: default-footer"></div>
</body>
</html>