<!DOCTYPE html>
<html lang="en">
<head th:replace="/fragments/head :: default-head(~{::title})">
    <title>회원가입</title>
</head>
<body>
<header th:replace="/fragments/header :: default-header"></header>
<div class="container">
    <div name="content" class="content">
        <div class="container container--xs">
            <h1 class="mb-2 text-center">회원가입을 축하드립니다🎉</h1>
            <p class="text-gray text-center mb-5">미션에 참여하셔서 수행 내역을 관리해보세요!</p>
        </div>
    </div>
</div>
</body>
<div th:replace="/fragments/footer :: default-footer"></div>
</html>